<!-- <div class="container-fluid footer mt-5">
    <div class="row">
        <div class="col-lg-6">
            <h1>
                Malik MotorHub
            </h1>
            <p>We Keep Your Life Running</p>
        </div>
        <div class="col-lg-4">
            <a routerLink="">Home</a>
            <a routerLink="">Menu</a>
            <a routerLink="">About</a>
            <a routerLink="">Contact</a>
        </div>
        <div class="col-lg-2">
            <a href="" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="" target="_blank"><i class="bi bi-instagram"></i></a>
        </div>
    </div>
</div> -->


<footer class="w-100 py-4 flex-shrink-0">
    <div class="container py-4">
        <div class="row gy-4 gx-5">
            <div class="col-lg-4 col-md-6">
                <h5 class="h1 text-white">Malik Motors.</h5>
                <p class="small text-muted">Quality is our Product</p>
                <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <a class="text-primary" href="#">Afrasyabafzal</a></p>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="text-white mb-3">Quick links</h5>
                <ul class="list-unstyled text-muted">
                    <li><a  routerLink="home">Home</a></li>
                    <li><a  routerLink="about">About</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="text-white mb-3">Quick links</h5>
                <ul class="list-unstyled text-muted">
                    <li><a href="" target="_blank"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="" target="_blank"><i class="bi bi-whatsapp"></i></a></li>
                    <li><a href="" target="_blank"><i class="bi bi-instagram"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6">
                <h5 class="text-white mb-3">Contact Us</h5>
                <ul class="list-unstyled text-muted">
                    <li><a href="" target="_blank"><i class="bi bi-phone"></i></a> +923127867206</li>
                    <li><a href="" target="_blank"><i class="bi bi-envelope-check"></i></a>   afrasyab@gapp.co</li>
                </ul>
                <form action="#">
                    <div class="input-group mb-3">
                        <input class="form-control" type="text" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-primary" id="button-addon2" type="button"><i class="fas fa-paper-plane"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>