
@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

.carBox{
    padding: 10px 10px;
}
.carBox img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}
.carBox h1{
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}
.buybtn{
    color: white;
    background-color: var(--primary-color);
    padding: 10px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer; 
}

/* Select styling */
select{
    width: 25%;
    height: 0px;
    padding: 10px;
    border-radius: 5px;
}