<div class="container mt-5 mb-5">
    <div class="row">
        <div class="search">
            <input type="text" [(ngModel)]="term" class="searchTerm" placeholder="What are you looking for?">
          </div>
        <div class="col-lg-4" *ngFor="let cd of carData">
            <div class="carBox mt-3 mb-3">
               <img src="{{cd.img}}" alt="">
                <h3>{{cd.name}}</h3>
                <p>{{cd.details}}</p>
                <p>{{cd.price}}</p>
                <br/>
                <a class="buybtn" [routerLink]="['/menu',cd.id]">Buy Now &nbsp;<i class="bi bi-bag"></i></a>
            </div>
        </div>
    </div>
</div>
