<div class="container">
    <img src="" alt="">
    <p>
        Vampires do breathe, by the way, but their chests don't move like humans'. Have you ever lain in the arms of your sweetheart and tried to match your breathing to his, or hers? You do it automatically. Your brain only gets involved if your body is having trouble. Fortunately there was nothing about this situation that was like being in the arms of a sweetheart except that I was leaning against someone's naked chest. I could no more have breathed with him than I could have ignited gasoline and shot exhaust out my butt because I was sitting in the passenger seat of a car.
    </p>
</div>
